# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.SignalR.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Rider Projects\SignalR\.idea\.idea.SignalR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
